<div>
  <a [routerLink]="['..', 'overview']">
    < Назад
  </a>
</div>

<div>
  <div>Zoom</div>
  <button (click)="zoomIn()">+</button>
  <button (click)="zoomOut()">-</button>
</div>

<div>
  <input type="text" (keydown.enter)="addTextAnnotation($event)">
</div>

<div>
  <input type="file" (change)="addImageAnnotation($event)">
</div>

<annotation-container
  [annotations]="annotations"
  (onUpdateAnnotation)="updateAnnotation($event)"
  (onRemoveAnnotation)="removeAnnotation($event)">
  <img #img [src]="imgUrl">
</annotation-container>

