<div class="details-header">
  <div class="header-left-col">
    <a class="back-button" [routerLink]="['..', 'overview']">
      <&nbsp;Назад
    </a>

    <input class="annotation-input"
           placeholder="Введите текст и нажмите enter"
           type="text" (keydown.enter)="addTextAnnotation($event)">
    <input type="file" (change)="addImageAnnotation($event)">
  </div>

  <div class="zoom-wrap">
    <div>Zoom</div>
    <button (click)="zoomIn()">+</button>
    <button (click)="zoomOut()">-</button>
  </div>
</div>


<annotation-container
  [annotations]="annotations"
  (onUpdateAnnotation)="updateAnnotation($event)"
  (onRemoveAnnotation)="removeAnnotation($event)">
  <img #img [src]="imgUrl">
</annotation-container>

