/* You can add global styles to this file, and also import other style files */
body {
  background-color: #c2c2c2;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #333;
  font-family: Lato, sans-serif;
}

.close-annotation {
  position: absolute;
  top: -15px;
  left: -15px;
  color: #fff;
  border-radius: 50%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  cursor: default;

  img {
    height: 12px;
    width: 12px;
  }
}

